<footer>
  <div class=footer_grid data-aos="fade-up">
      <div class=description data-aos="fade-right">
          <img src="../../../assets/img/logoTekoPora.svg" alt="logo" height=100 width=100>
          Teko Pora Andresito es una organización sin fines de lucro enfocada en solucionar las problemáticas del norte Misiones especialmente las comunidades Mbya guaraní
        </div>
      <div class=links data-aos="fade-up">

          <a [routerLink]="['quienesSomos']"><p>Quienes Somos</p></a>
          <a [routerLink]="['proyectos']"><p>Proyectos</p></a>
          <a [routerLink]="['donativos']"><p>Donaciones</p></a>
          <a [routerLink]="['contacto']"><p>Contacto</p></a>
      </div>
      <div class=contact_footer data-aos="fade-down">
          <h3>Contacto</h3>

          <a href="https://www.instagram.com/fundacion_teko_pora/" target="_blank"><img src="../../../assets/img/instagram.png " alt="instagram" width=60 height=60></a>
          <a href="mailto:https://mail.topo.te.fu@gmail.com" target="_blank"><img src="../../../assets/img/gmail.png" alt="email" width=30 height=30></a>
          <a href="https://www.facebook.com/marcela.molina.1650" target="_blank"><img src="../../../assets/img/facebook.png" alt="whatsapp" width=30 height=30></a>
        </div>
        <div class=copyright data-aos="flip-up">
          <h3>© 2020 Copyright: Fundacion Teko Pora Andresito</h3>
          <h5><A href="haizara-tech.com.ar">Desarrollo: HaizaraTech</A></h5>
        </div>
  </div>
</footer>
