<footer>
  <div class=footer_grid>
      <div class=description>
          <img src="../../../assets/img/logoTekoPora.svg" alt="logo" height=100 width=100>
          Teko Pora Andresito es una organización sin fines de lucro enfocada en solucionar las problemáticas del norte Misiones especialmente las comunidades Mbya guaraní
        </div>
      <div class=links>
          <h3>Servicios</h3>
          <a [routerLink]="['']"><p>Proyectos</p></a>
          <a [routerLink]="['']"><p>Donaciones</p></a>
          <a [routerLink]="['']"><p>Contacto</p></a>
      </div>
      <div class=contact_footer>
          <h3>Contacto</h3>

          <a href="https://www.instagram.com/fundacion_teko_pora/"><img src="../../../assets/img/instagram.png " alt="instagram" width=60 height=60></a>
          <img src="" alt="email" width=30 height=30><a href="mailto:info@rivera-designs.com?Subject=Deseo%20informacion%20sobre%20la empresa"><p>info@rivera-designs.com</p></a>
          <img src="assets/images/logoWhatsapp.png" alt="whatsapp" width=30 height=30><a href="https://api.whatsapp.com/send?phone=+5491156353955."><p>+54-9-11-5635-3955</p></a>
        </div>
        <div class=copyright>
          <h3>© 2020 Copyright: Fundacion Teko Pora Andresito</h3>
          <h5><A href="haizara-tech.com.ar">Desarrollo: HaizaraTech</A></h5>
        </div>
  </div>
</footer>
