<section id="Donations">
  <div class="container-fluid text-start">
    <h1 class="display-1" data-aos="fade-left">Donativos</h1>
    <p class="mt-5 fs-5" data-aos="fade-up">
      Para todos los que quieran colaborar de manera económica con la fundación
      lo pueden hacer mediante el boton que los llevara a Mercado Pago, desde ya
      muchas gracias
    </p>
    <b class="mt-5 fs-4" data-aos="fade-up"
      >También puede colaborar mediante transferencia bancaria al siguiente CBU:
      0720451120000000083322</b
    >
  </div>
</section>
