<section id="donationsButtons">
  <div class="d-lg-flex justify-content-center align-center mt-5 mb-5">
    <a href="https://mpago.la/1k4eDqm" target="_blank"
      ><button class="btn btn-info btn-lg m-5" data-aos="zoom-up">
        20$
      </button></a
    >
    <a href="https://mpago.la/2zGhd1s" target="_blank"
      ><button class="btn btn-info btn-lg m-5" data-aos="zoom-up">
        50$
      </button></a
    >
    <a href="https://mpago.la/1Bj3Ks3" target="_blank"
      ><button class="btn btn-info btn-lg m-5" data-aos="zoom-up">
        100$
      </button></a
    >
    <a href="https://mpago.la/2DY4fGW" target="_blank"
      ><button class="btn btn-info btn-lg m-5" data-aos="zoom-up">
        500$
      </button></a
    >
    <a href="https://mpago.la/1c2gVQb" target="_blank"
      ><button class="btn btn-info btn-lg m-5" data-aos="zoom-up">
        1000$
      </button></a
    >
  </div>
</section>
