
<section id="proyectos">
  <div class="text-center container">
    <h3 data-aos="fade-up" class="display-3 mb-4 mt-4">Proyectos que estamos desarrollando</h3>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 mt-5 mb-5">
      <div data-aos="fade-up" class="col" *ngFor="let project of projects">
        <div class="card shadow-sm">
          <img
            class="bd-placeholder-img card-img-top"
            width="100%"
            height="225"
            src="{{ project.img }}"
          />

          <div class="card-body">
            <h4 class="card-text" style="height: 50px;">{{ project.title}}</h4>
            <div class="d-flex justify-content-center align-items-center">
              <div class="btn-group">
                <a  routerLink="{{project.id}}"><button type="button" class="btn btn-lg btn-primary mt-5">
                  ver más
                </button></a>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </section>
