<section id="homeProjects">
  <div class="homeProjectsGrid" data-aos="fade-up">
    <div class="text-lg-start" >
      <h3 class="display-4">
        Proyectos
      </h3>
      <p>Desarrollamos proyectos cuyo objetivo es mejorar la calidad de vida de las distintas comunidades.</p>
      <a routerLink="proyectos"><button class="btn btn-info">Más información</button></a>
    </div>
    <div class="homeProjectsImg">
      <img src="../../../assets/img/Teko-pora-menu-principal-proyectos.jpeg" height="350" width="350" alt="proyectos" >
    </div>
  </div>
</section>
